# Terraform junk
.terraform/
*.tfstate
*.tfstate.*
*.backup
*.lock.hcl
.terraform.lock.hcl
.gitignore
git-filter-repo.py
# Sensitive keys
*.pem
*.key
*.env

# Editor clutter
.vscode/
.idea/
.DS_Store
